<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .highlight {
            color: royalblue;
        }
    </style>
    <title>Home</title>
</head>
<body>
<p >Hi, <span class="highlight" th:text="${#httpSession.getAttribute('User').name}"></span></p>
<p>Your Roles:</p>
<ul>
    <li th:each="role: ${#httpSession.getAttribute('Roles')}" th:text="${role.name}" class="highlight"></li>
</ul>
</body>
</html>